{ 
    "ignore": [
        "/\/core-js/",
    ],
    "presets": [
        [
            "@babel/env",
            {
                "debug":false,
                "useBuiltIns": "usage",
            },
        ], 
        "@babel/preset-react"
    ] 
}