
	<script defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhn7NAfPq0XYmNax-QcqXxzkcTtBwDyAw">
	</script>
	{{#each htmlWebpackPlugin.files.js}}<script defer src="{{this}}"></script>{{/each}}
</body>
</html>